/*FEATURES*/

.features__list {
  @extend %list;
  margin-left: calc(-1 * var(--margin-card));
  margin-top: calc(-1 * var(--margin-card));

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    } 
  }
  .features__item {
    margin-left: var(--margin-card);
    margin-top: var(--margin-card);

    @media screen and (min-width: 480px) {
      flex-basis: calc((100% - 1 * var(--margin-card)) / 1);
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * var(--margin-card)) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 4 * var(--margin-card)) / 4);
    }
  }
  
  .features__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: var(--team-section-bcg-color);
  }
  .features__title {
    min-width: 270px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--headers-nav-color);

    @media screen and (max-width: 767.98px) {
      text-align: center;
    }
  }
  .features__dscr {
    min-width: 270px;
    font-size: 14px;
    line-height: 1.71;
  }