:root {
    --primary-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --main-bcg-color: #ffffff;
    --team-section-bcg-color: #f5f4fa;
    --hero-footer-bcg-color: #2f303a;
    --hero-down-bcg-color: #c4c4c4;
    --hero-gradient-color: rgba(47, 48, 58, 0.4);
    --accent-logo-hover-color: #2196f3;
    --main-text-color: #757575;
    --headers-nav-color: #212121;
    --hero-footer-text-color: #ffffff;
    --actbtn-color: #ffffff;
    --noactbtn-color: #212121;
    --actbtn-bcg: #2196f3;
    --noactbtn-bgd: #f5f4fa;
    --alfa-color: rgba(255, 255, 255, 0.6);
    --border-color: #ececec;
    --border-color-portfolio: #eeeeee;
    --occupations-overlay-color: rgba(47, 48, 58, 0.8);
    --galery-overlay-color: rgba(33, 150, 243, 0.9);
    --margin-card: 30px;
    --svg-links-color: #afb1b8;
    --footer-link-bgc: rgba(255, 255, 255, 0.1);
    --shadov-0-15: rgba(0, 0, 0, 0.15);
    --shadow-0-12: rgba(0, 0, 0, 0.12);
    --shadow-0-14: rgba(0, 0, 0, 0.14);
    --shadow-0-2: rgba(0, 0, 0, 0.2);
    --shadow-0-1: rgba(0, 0, 0, 0.1);
    --shadow-0-08: rgba(0, 0, 0, 0.08);
    --shadow-0-06: rgba(0, 0, 0, 0.06);
    --shadow-0-16: rgba(0, 0, 0, 0.16);
    --backdrop-bgc: rgba(0, 0, 0, 0.2);
    --modal-close-btn-border: rgba(0, 0, 0, 0.1);
    --footer-input-border: rgba(255, 255, 255, 0.3);
    --icon-dark-color: #000000;
    --modal-input-border: rgba(33, 33, 33, 0.2);
    --modal-placeholder-color: rgba(117, 117, 117, 0.5);
  }